body {
  background: url("wp1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-body{
   opacity : 0.8 !important;
}

h2.title{
  color:white;
}